<template>
  <q-page class="flex flex-start column" >
    <div class="row no-wrap items-center justify-between q-my-sm">
      <FilterComponent @sorted="setSorted" />
      <div class="self-end column q-gutter-y-md">
        <q-btn @click="showCreateDlg=true" color="green" size="md" label="create task" />
        <q-pagination
          v-model="currentPage"
          :max="pageCount"
          direction-links
        />
      </div>
    </div>
    <CreateTask :is_show="showCreateDlg" @hide="showCreateDlg=false"/>
    <TaskComponent v-for="task in tasks"
      :task=task
      :key=task.id
      class="q-ma-md"
     />
  </q-page>
</template>

<script>
import TaskComponent from "components/Task"
import FilterComponent from "components/filterComponent"
import CreateTask from "components/CreateTask"

export default {
  name: 'IndexTask',
  components: {TaskComponent, CreateTask, FilterComponent},
  data() {
    return {
      currentPage: 1,
      sort_field: 'id',
      sort_direction: 'asc',
      showCreateDlg: false,
    }
  },
  computed: {
    tasks() {
      return this.$store.getterObjs()
    },
    pageCount() {
      return Math.ceil(this.$store.getterObjCount()/3)
    }
  },
  methods: {
    addTask() {
      this.$store.createObj(null)
    },
    setSorted(obj) {
      this.sort_field = obj.sort_field
      this.sort_direction = obj.sort_direction
      this.loadObjs()
    },
    loadObjs() {
      this.$store.loadObjList({
        page: this.currentPage,
        sort_field: this.sort_field,
        sort_direction: this.sort_direction
      })
    }
  },
  watch: {
    currentPage() {
      this.loadObjs()
    }
  },
  created() {
    this.$store.loadObjList(null)
  }
}
</script>
