<template>
    <q-card class="full-width bg-secondary text-white">
        <q-card-section class="row text-grey-8 bg-teal-13 justify-between">
            <div class="text-h5">{{task.username}}</div>
            <div class="text-subtitle2">{{task.email}}</div>
        </q-card-section>
        <q-card-section>
            <div class="row no-wrap items-center justify-between">
                <div v-if="!is_edit">{{task.text}}</div>
                <q-input
                    v-else
                    ref="descriptionRef"
                    autogrow
                    maxlength=200
                    filled
                    type="text"
                    input-class="description-text"
                    v-model="descr"
                    label="Description task *"
                    hint="Description task"
                    lazy-rules
                    class="col-grow"
                />
                <div class="column items-end">
                    <q-badge rounded color="primary" :label="getStatus" />
                    <q-checkbox :disable='!is_edit' size="xl" v-model="stat" />
                </div>
            </div>
        </q-card-section>
        <q-card-actions v-if="$store.login" class="justify-end">
            <q-btn v-if="!is_edit" flat label="Редактировать" @click="is_edit=true; descr=task.text" />
            <q-btn v-else flat label="Coxранить" @click="saveTask" />
            <q-btn disable flat label="Удалить" />
        </q-card-actions>
    </q-card>
</template>

<script>
export default {
    name: "TaskComponent",
    props: ["task"],
    data() {
        return {
            descr: '',
            stat: false, 
            is_edit: false
        }
    },
    computed: {
        getStatus() {
            return {
                0: 'задача не выполнена',
                1: 'задача не выполнена, отредактирована админом',
                10: 'задача выполнена',
                11: 'задача отредактирована админом и выполнена',
            }[this.task.status]
        }
    },
    methods: {
        saveTask() {
            console.log(this.stat, this.stat != Math.floor(this.task.status/10))
            if ((this.descr !== this.task.text) || this.stat != Math.floor(this.task.status/10)) {
                if (this.$q.localStorage.getItem('token') == null) {
                    this.$q.notify({
                        position: 'top',
                        color: 'negative',
                        message: 'please log in'
                    })
                    this.$store.login=false
                } else {
                    this.$store.editObj(this.task.id, {
                        id: this.task.id,
                        token: this.$q.localStorage.getItem('token').token,
                        text: this.descr,
                        status: this.stat*10 + (this.descr !== this.task.text)
                    })
                }
            }
            this.descr = ''
            this.is_edit = false
        }
    },
    created() {
        this.stat = this.task.status >= 10
    }
}
</script>